/* open-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/open-sans-v40-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/open-sans-v40-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/open-sans-v40-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('fonts/open-sans-v40-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('fonts/open-sans-v40-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('fonts/open-sans-v40-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
  /* open-sans-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/open-sans-v40-latin-600.eot'); /* IE9 Compat Modes */
    src: url('fonts/open-sans-v40-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/open-sans-v40-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('fonts/open-sans-v40-latin-600.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('fonts/open-sans-v40-latin-600.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('fonts/open-sans-v40-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}




:root {
    --downloadbuttoon-color: #FFFFFF;
    --textcolor-color:#FFFFFF;
    --background1-color:#5956E9;
    --background2-color:#FFFFFF; 
    --heading1-color: #5956E9 ;
    --heading2-color:#232233;
    --paragraph-color:#6C6C72;
}

.header{
    position: relative !important;
    background-color: var(--background1-color);
    top: 0rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
}



.form__registration{
    padding: 10rem 0 10rem 0;
    width: 70%;
    margin: 0 auto;
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
}

body input{
    font-size: 3rem;
    border-radius: 5px;
}


body fieldset{
    border-radius: 5px;
}

span{
    color: red;
}

.forms__buttons-reset{
    border-radius: 5px;
    background: transparent;
    width: 50%;
}

.forms__buttons-sumbit{
    border-radius: 5px;
    background: transparent;
    width: 49%;
}


.forms__buttons-sumbit:hover{
    background-color: var(--heading2-color);
    color: white;
}
.forms__buttons-reset:hover{
    background-color: var(--heading2-color);
    color: white;
}
select{
    border-radius: 5px;
}
.forms{
    margin-bottom: 2rem;
}

input:focus{
    border: 5px solid var(--heading1-color);
}

.footer{
    padding-top: 4rem;
}
#email{
    width: auto;
    height: auto;
    border-radius: 4px;
    text-align: left;
    border: solid 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen  and (max-width:600px){
    .form__registration{
        font-size: 2rem;
    }
    body input{
        font-size: 2rem;
    }
    .forms__buttons-sumbit {
        width: 48%;
    }
    #email{
        font-size: 2rem;
    }
}

@media screen  and (max-width:1190px){
    .forms__buttons-reset {
        width: 48%;
    }
}

@media screen  and (max-width:420px){
    .form__registration{
        font-size: 1.5rem;
    }
    body input{
        font-size: 1.5rem;
    }
    #email{
        font-size: 1.5rem;
    }
}

.logo__img{
    width: 10rem;
    transform: rotate(30deg) scale(150%) skewX(25deg) skewY(25deg);
}

.pseudo{
    max-width: 70%;
    margin: 0 auto;
    font-size: 3rem;
}

ul>li{
    width: 25rem;
    padding-left: 5rem;
}

ul{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

dt::first-letter{
    font-size: 6rem;
    color: red;
}
dd::after {
    content: "🛈";
}

li:nth-child(even){
    color: var(--heading1-color);
}

li:nth-child(odd){
    color: var(--heading2-color);
}

li input[type="checkbox"]:checked + label {
    text-decoration: line-through;
}

input[type="radio"]:checked + label {
    color: red;
}