/* josefin-sans-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/josefin-sans-v32-latin-300.eot'); /* IE9 Compat Modes */
    src: url('fonts/josefin-sans-v32-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/josefin-sans-v32-latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('fonts/josefin-sans-v32-latin-300.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('fonts/josefin-sans-v32-latin-300.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('fonts/josefin-sans-v32-latin-300.svg#JosefinSans') format('svg'); /* Legacy iOS */
}
  /* josefin-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/josefin-sans-v32-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/josefin-sans-v32-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/josefin-sans-v32-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('fonts/josefin-sans-v32-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('fonts/josefin-sans-v32-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('fonts/josefin-sans-v32-latin-regular.svg#JosefinSans') format('svg'); /* Legacy iOS */
}
  /* josefin-sans-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/josefin-sans-v32-latin-600.eot'); /* IE9 Compat Modes */
    src: url('fonts/josefin-sans-v32-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/josefin-sans-v32-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('fonts/josefin-sans-v32-latin-600.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('fonts/josefin-sans-v32-latin-600.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('fonts/josefin-sans-v32-latin-600.svg#JosefinSans') format('svg'); /* Legacy iOS */
}
  /* josefin-sans-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/josefin-sans-v32-latin-700.eot'); /* IE9 Compat Modes */
    src: url('fonts/josefin-sans-v32-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/josefin-sans-v32-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('fonts/josefin-sans-v32-latin-700.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('fonts/josefin-sans-v32-latin-700.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('fonts/josefin-sans-v32-latin-700.svg#JosefinSans') format('svg'); /* Legacy iOS */
}


/* Цвета и не только */



:root {
    font-size: 62.5%;
    --downloadbuttoon-color: #FFFFFF;
    --textcolor-color:#FFFFFF;
    --background1-color:#5956E9;
    --background2-color:#FFFFFF; 
    --heading1-color: #5956E9 ;
    --heading2-color:#232233;
    --paragraph-color:#6C6C72;
    --headingweight-font-weight:600; 
        --paragraphweigt-font-weight:400;
    --paragraphsize-font-size: 1.6rem; 
    --paragraphfontstyle-font-style: normal;
    --paragraphlineheight-line-height: 2.4rem;
}

*{
    box-sizing: border-box; 
}

/* Хедер */

.header {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 4rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;

}


.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background2-color);
    padding: 0.3rem;
    border-radius:0.3rem ;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    position: relative;
}


.header__logo{
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%);
    top: 50%;
    margin-top: -3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 6rem;
    border-radius: 0.5rem;
    background-color: var(--background2-color);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
}

.header__buttonburger {
    background: transparent;
    border: none;
}
/* Кнопка скачать */
.header__downloadbutton-link{
    color: var(--downloadbuttoon-color);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    font-style: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 34px;
    flex-shrink: 0;
    background-color: var(--background1-color);
    border-radius: 0.3rem;
}


/* Основные (main) */



/* Страница с ссылками на скачивание */

.downloadpage {
    position: relative;
    z-index: 1;
    min-height: 122.7rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url(image/Background\ Image\ \(4\).png);
}

.downloadpage__container {
    margin: auto;
    width: 32.3rem;
    height: 31.8rem;
    flex-shrink: 0;
    background-color: var(--background2-color);
    margin-left:1.6rem;
    margin-right: 3.6rem;
    margin-top: 20.8rem;
    
}

.downloadpage__paragraph {
    color: var(--paragraph-color);
    margin-left: 1.8rem;
    margin-right: 1.2rem;
    min-width: 29.3rem;
    height: 6.6rem;
    margin-bottom: 3rem;
}
.downloadpage__heading1{
    font-family: 'Josefin Sans',sans-serif;
    min-width: 26.2rem;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3.75rem;
    text-transform: uppercase;
    color: var(--heading1-color);
    word-wrap: break-word;
    margin-left: 1.8rem;
    margin-top: 3rem;
    margin-right: 4.3rem;
    
}

.downloadpage__heading2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3rem;
    text-transform: uppercase;
    margin-left: 1.8rem;
    margin-top: 0;
}
.downloadpage__img-google {
    margin-left: 1.8rem;
    margin-right: 1.017rem;
}

.downloadpage__img-phone{
    margin-left: 5.5rem;
    max-width: 36rem;
    margin-bottom: 12rem;
}

/* Значение для параграфов */
p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: var(--paragraphweigt-font-weight);
    font-size: var(--paragraphsize-font-size);
    color: var(--paragraph-color);
    font-style: var(--paragraphfontstyle-font-style);
    line-height: var(--paragraphlineheight-line-height);
}

/* Страница about */

#About {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: var(--headingweight-font-weight);
    font-size: 2.5rem;
    font-style: normal;
    line-height: 3.75rem; 
    text-transform: uppercase;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 1.8rem;
    max-height: 3.75rem;
}


.aboutpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    min-height: 100rem;
}


#aboutpage__paragraph-not-phone{
    display: none;
}



.aboutpage__paragraph{
    margin-top: 0rem;
    min-width: 30rem;
    min-height: 7rem;
    margin-left: 2.2rem;
    margin-right: 2.1rem;
    text-align: center;
}

.aboutpage__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    margin: auto;
}


.aboutpage__item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 2rem;
    list-style-type: none;
    width: 34.3rem;
    height: 11rem;
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    background: var(--background2-color);
    flex-direction: row;
}

.aboutpage__heading3 {
    color: var(--heading2-color);
    font-family: 'Josefin Sans',sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3rem;
    text-transform: uppercase;
    margin-bottom: 0.3rem;
    margin-top: 1.8rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-left: 0;
}
.aboutpage__img-phone{
    display: block;
    margin: auto;
    margin-bottom: 7.5rem;
}
.aboutpage__marker{
    margin-top: 2rem;
    margin-left: 1.8rem;
    margin-right: 1.8rem;
}
.aboutpage__item-paragraph {
    width: 26.6rem;
    height: 4.9rem;
    margin: 0 auto;
    margin-right: 1.8rem;
}

/* Страница features */

.featurespage {
    min-height: 223rem;
    background-image: url(image/Rectangle\ 23\ \(1\).png);
}

.featurespage__heading2 {
    display: block ;
    color:var(--textcolor-color);
    font-family: 'Josefin Sans',sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.75rem;
    text-transform: uppercase;
    text-align: center;
    padding: 6rem;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
}

.featurespage__list{
    padding-left: 0;
}



.featurespage p {
    color: var(--textcolor-color);
}
.featurespage__paragraph-main {
    min-width: 30rem;
    min-height: 7rem;
    text-align: center;
    margin-left: 3.8rem;
    margin-right: 3.7rem;
    margin-top: 1.8rem;
    margin-bottom: 3.2rem;
}

.featurespage__heading3 {
    display: block ;
    color:var(--textcolor-color);
    font-family: 'Josefin Sans',sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3rem;
    text-transform: uppercase;
    text-align: center;
    padding: 6rem;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    margin-top: 3rem;
    padding-top: 0rem;
}

.featurespage__img {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.featurespage__paragraph {
    min-width: 22.3rem;
    min-height: 4.3rem;
    margin-left: 7.6rem;
    margin-right: 7.6rem;
    text-align: center;
    margin-top: 1.8rem;
    margin-bottom: 4rem;
}

.featurespage__img-app {
    display: block;
    margin: 0 auto;
    margin-bottom: 12rem;
    width: 214px;
    height: 468px;
    border-radius: 40px;
    box-shadow: 40px 40px 100px 0px rgba(24, 48, 63, 0.50);
}


/* Страница statistic */

.statisticpage {
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    min-height: 96.4rem;
    background-color: var(--background2-color);
}
.statisticpage__link-google{
    display: inline-block;
    width: 14.9rem;
    height: 4.7rem;
}
.statisticpage__link-apple{
    display: inline-block;
    width: 14.9rem;
    height: 4.7rem;
    margin-left: 2.5rem;
}
.statisticpage__main-container{
    margin-left: 1.6rem;
    display: flex;
    gap: 1.8rem;
}
.statisticpage__img-phone{
    margin-top: 6rem;
    margin-left: 1.6rem;
}
.statisticpage__container{
    
    width: 9.6rem;
    height: 10rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    background-color: var(--background1-color);
    margin-top: 6rem;
    flex-wrap: wrap;
}

.statisticpage__heading2 {
    width: 28.8rem;
    height: 7.5rem;
    margin-top: 10.3rem;
    margin-left: 1.6rem;
    margin-right: 7.1rem;
    margin-bottom: 1.8rem;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.75rem;
    text-transform: uppercase;
}

.statisticpage__paragraph-main {
    width: 32.9rem;
    height: 7.3rem;
    margin-left: 1.6rem;
    margin-right: 3rem;
    margin-top: 0rem;
}

.statisticpage__img-google{
    margin-left: 1.6rem;
    margin-right: 2.5rem;
}

.statisticpage__img-apple{
    margin-left: 0rem;
    margin-right: 3.4rem;
}

.statisticpage__img-icons{
    display: flex;
    width: 18px;
    height: 18px;
    margin-left: 3.9rem;
    margin-right: 3.9rem;
    margin-top: 1.1rem;
    flex-shrink: 0;
}




.statisticpage__paragraph-numbers{
    margin-top: 0.8rem;
    color:var(--textcolor-color);
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3rem;
    margin-left: 2rem;
    margin-bottom: 0rem;
}

.statisticpage__paragraph-text{
    margin-top: 0rem;
    margin-bottom: 1.2rem;
    color: var(--textcolor-color);
}
#downloads__text{
    margin: 0;
    padding: 0;
    margin-left: 0.8rem;
}

#like__text {
    margin-left: 3.3rem;
}

#rating__text {
    margin-left: 0.3rem;
}

#rating__number {
    margin-left: 2.5rem;
}

/* Страница howtouse */

.howtousepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 37.5rem;
    min-height: 49.1rem;
    background: linear-gradient(to bottom,var(--background1-color) 72%, var(--background2-color) 28%);
    
}


.howtousepage__heading2 {
    width: 28.1rem;
    min-height: 7.1rem;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.75rem;
    text-transform: uppercase;
    color:var(--textcolor-color);
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 0rem;
}

.howtousepage__paragraph {
    color: var(--textcolor-color);
    text-align: center;
    width: 30rem;
    min-height: 7rem;
    margin-top: 0rem;
}
.howtousepage__img-video{
    position: relative;
}
.howtousepage__img-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
/* Страница customers */

.customerspage {
    min-height: 58.8rem;
    background-image: url(images/Rectangle\ 23.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.customerspage__heading2 {
    min-width: 31.5rem;
    min-height: 3.8rem;
    color: var(--textcolor-color);
    font-family: 'Josefin Sans',sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.75rem;
    text-transform: uppercase;
    padding-top: 6rem;
    margin-bottom: 1.8rem;
    margin-top: 0rem;
}

.customerspage__paragraph-main {
    width: 30rem;
    min-height: 7rem;
    color: var(--textcolor-color);
    text-align: center;
    
    margin-top: 0rem;
    margin-bottom: 3.2rem;
}

.customerspage__name {
    display: flex;
    justify-content: center;
    color: var(--heading2-color);
    font-family: 'Josefin Sans',sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.75rem;
    text-transform: uppercase;
    margin-top: 1.2rem;
    margin-bottom: 0rem;
}

.customerspage__container {
    background-color: var(--background2-color);
    width: 34.3rem;
    height: 25rem;
    border-radius: 1rem;
    box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.24);
    margin: 0 1.6rem;
}
.customerspage__post{
    color: var(--heading2-color);
    display: flex;
    justify-content: center;
    margin-top: 0rem;

}
.customerspage__photo{
    box-sizing: content-box;
    width: 5rem;
    height: 5rem;
    padding-top: 2rem;
    margin-left: 14.65rem;
}
blockquote{
    margin: 0;
}
.customerspage__blockquote {
    display: flex;
    justify-content: center;
    text-align: center;
    width: auto;
    height: 7rem;
    margin: 0;
    margin: 1.35rem;
}

#customerspage__container-main {
    position: relative;
    z-index: 2;
}

#customerspage__container-notmain1 {
    height: 21.5rem;
    position: absolute;
    left: 7.9rem;
    top: 23.5rem;
    z-index: 1;
}

#customerspage__container-notmain2 {
    height: 21.5rem;
    position: absolute;
    right: 7.9rem;
    top: 23.5rem;
    z-index: 1;
}

#customerspage__container-notmain3 {
    height: 21.5rem;
    position: absolute;
    left: 7.9rem;
    top: 23.5rem;
    z-index: 1;
}

#customerspage__container-notmain4 {
    height: 21.5rem;
    position: absolute;
    right: 7.9rem;
    top: 23.5rem;
    z-index: 1;
}

.customerspage__slider{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.slider__button{
    background-color:var(--background2-color);
    border-radius: 50%;
    width: 1.75rem;
    height: 1.75rem;
    border: none;
    margin-right: 1rem;
}
/* страница blog */

.blogpage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogpage__manycontainers{
    display: flex;
    flex-direction: column;
}


.blogpage__heading2{

    font-family: 'Josefin Sans',sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.75rem;
    text-transform: uppercase;
    color: var(--heading2-color);
    padding-top: 4rem;
    margin-bottom: 1.8rem;
}

.blogpage__paragraph-main{
    max-width: 30rem;
    min-height: 7rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 4rem;
}

.blogpage__container {
    width: 34.3rem;
    height: 48.2rem;
    border-radius: 1rem;
    background-color: var(--background2-color);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    margin: 0 auto;
    margin-bottom: 4rem;
}
.blogpage__heading3 {
    max-width: 31.5rem;
    color: var(--heading2-color);
    font-family: 'Josefin Sans';
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3rem;
    text-transform: uppercase;
    margin-left: 1.8rem;
}
.blogpage__paragraph {
    margin-left: 1.8rem;
}

.blogpage__link {
    color: var(--heading1-color);
    font-family: 'Josefin Sans';
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-decoration: underline;
    text-transform: uppercase;
    margin-left: 1.8rem;
}

.blogpage__contacts{
    position: relative;
    z-index: 2;
    width: 34.3rem;
    height: 31rem;
    margin-left: 1.6rem;
    border-radius: 1rem;
    background: var(--background2-color);
    margin-bottom: -17.1rem;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
}


.contacts__gmail {
    color: var(--heading2-color);
    font-family: 'Josefin Sans';
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}


.contacts__phone {
    display: block;
    color: var(--heading2-color);
    font-family: 'Josefin Sans';
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin-top: 2rem;
}

.blogpage__contacts-logoemail{
    display: block;
    margin: auto;
    margin-top: 2rem;
}
.blogpage__contacts-logophone{
    display: block;
    margin: auto;
    margin-top: 3rem;
}
.blogpage__hr{
    width: 11.7rem;
    height: 0.4rem;
    background-color: var(--heading2-color);
    border: none;
}

    .blogpage__img-blog1,
    .blogpage__img-blog2,
    .blogpage__img-blog3{
        object-fit: cover;
    }
/* Страница футер  */


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    margin: auto;
    padding-bottom: 2rem;
    background: var(--heading2-color);
    padding-top: 22rem;
}

.logo__container {
    margin-left: 1.6rem;
    margin-top: 0rem;
}

.logo__heading {
    color: var(--textcolor-color);
    font-family: 'Josefin Sans';
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.725rem;
    text-transform: uppercase;
    margin-bottom: 0rem;
}

.logo__paragraph {
    max-width: 33.5rem;
    color: var(--textcolor-color);
    margin-top: 0rem;
}

.logo__hr{
    display: inline-block;
    width: 0.1rem;
    height: 2rem;
    border: none;
    background-color: var(--downloadbuttoon-color);
    margin-left: 3rem;
    margin-right: 3rem;
}

.quicklink__container {
    margin-left: 1.6rem;
    
    
}

.quicklink__heading3 {
    color: var(--textcolor-color);
    font-family: 'Josefin Sans',sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.75rem;
    text-transform: uppercase;
    margin-bottom: 1.1rem;
}

.quicklink__link{
    display: block;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--textcolor-color);
    margin-bottom: 1.1rem;
    text-decoration: none;
}


.newsletter__container{
    margin-left: 1.6rem;
}

.newsletter__heading3{
    margin-top: 6rem;
    color: var(--textcolor-color);
    font-family: 'Josefin Sans',sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.75rem;
    text-transform: uppercase;
    margin-bottom: 0rem;
}

.newsletter__paragraph{
    margin-top: 1.1rem;
    max-width: 30rem;
    color: var(--textcolor-color);
}

.newsletter__button{
    width: 5rem;
    height: 5rem;
    background-color: var(--background1-color);
    border: none;
    border-radius: 0.4rem;
}

.newsletter__input{
    display: flex;
    justify-content: start;
    align-items: center;
}


.email{
    width: 28.6rem;
    height: 5rem;
    border-radius: 4px;
    text-align: left;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
}
.copyright__hr {
    width: 80%;
    height: 1px;
    background: var(--background2-color);
    border: none;
    margin-top: 6rem;
}

.copyright__text {
    color: var(--textcolor-color);
    font-family: 'Josefin Sans',sans-serif;
    font-size: 1.28rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 0rem;
}

.copyright__container{
    display: flex;
    justify-content: center;
}

.copyright__img{
    margin-top: 1.18rem;
}

.header__contacts{
    display: none;
}

.header__contacts-email{
    display: none;
}
.header__contacts-email:hover{
    text-decoration: none !important;
}
.header__contacts-phone:hover{
    text-decoration: none !important;
}

.header__contacts-phone{
    display: none;
}
.header__nav>a,
.header__nav2>a{
    display: none;
    color: var(--heading2-color);
    font-family: 'Josefin Sans',sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3rem;
    text-transform: uppercase;
    text-decoration: none;
}
#aboutpage__item-apragraphdekstop{
    display: none;
}

@media screen and (min-width:376px) {
    .downloadpage{
        background-image: url(image/Background\ Image\ \(5\).png);
    }
    .featurespage{
        background-image: url(image/Rectangle\ 23\ \(2\).png);
    }
    .customerspage{
        background-image: url(image/Rectangle\ 23\ \(4\).png);
    }
}

@media screen and (min-width:769px) {
    .downloadpage{
        background-image: url(image/Background\ Image\ \(3\).png);
    }
    
    .featurespage{
        background-image: url(image/Rectangle\ 14.png);
    }
    .customerspage{
        background-image: url(image/Rectangle\ 14\ \(1\).png);
    }
}


@media screen and (min-width: 767px) {
    
    .header__contacts{
        width: 68.8rem;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 4.8rem;
        margin: 0 auto 3.5rem auto;
    }
    
    .header__contacts-email{
        display:flex;
        align-items: center;
        gap: 1.6rem;
        text-decoration: none;
    }
    .header__contacts-email>p{
        color: var(--textcolor-color); 
        font-family: 'Josefin Sans' ,sans-serif;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.4rem;
        text-decoration: none;
    }
    .header__contacts-phone{
        display:flex;
        align-items: center;
        gap: 1.6rem;
        text-decoration: none;
    }
    .header__contacts-phone>p{
        color: var(--textcolor-color); 
        font-family: 'Josefin Sans' ,sans-serif;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.4rem;
        text-decoration: none;
    }

    .header__messengers{
        display: flex;
        margin-left: auto;
        gap: 3rem;
    }

    .header__container{
        margin: 0 auto;
        width: 68.8rem;
        height: 6rem;
    }
    
    .header__logo{
        width: 20rem;
        height: 9rem;
        top: 25%;
    }

    .header__logo>img{
        width: 16.7rem;
        height: 2.8rem;
    }

    .header__downloadbutton-link{
        width: 15.8rem;
        height: 5rem;
        font-size: 2rem;
    }


    .downloadpage{
        padding-top: 15rem;
        min-height: 102.4rem;
        flex-direction: row;
    }

    .downloadpage__img-phone{
        width: 25.9rem;
        height: 42.3rem;
        margin-bottom: 0;
        margin-left: 0;
    }


    .downloadpage__container{
        width: 35.6rem;
        height: 31.8rem;
        margin: 0 0;
        margin-top: 0;
        margin-right: 9rem;
    }

    .downloadpage__heading1{
    font-size: 3.125rem;
    font-weight: 700;
    line-height: 47.25px; 
    margin: 0 0;
    margin-left: 1.8rem;
    margin-top: 1.4rem;
    margin-bottom: 0.6rem;
    }
    .downloadpage__img-google,
    .downloadpage__img-apple{
        width: 15rem;
        height: 4.5rem;
    }

    #About{
        font-size: 3.125rem;
        font-weight: 700;
        line-height: 4.725rem;
    }


    .aboutpage{
        min-height: 80rem;
    }

    .aboutpage__container-imglist{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5rem;
    }

    .aboutpage__paragraph{
        display: none;
    }

    #aboutpage__paragraph-not-phone{
        display: block;
        width: 45rem;
        margin-bottom: 6rem;
    }

    .aboutpage__img-phone{
        margin-bottom: 4rem;
    }


    .featurespage{
        min-height: 136.6rem;
    }


    .featurespage__list{
        margin: 0 auto;
        width: 76.8rem;
        list-style: none;
        display: grid;
        grid-template-areas: 
        'q q q'
        'w e r'
        't e l'
        'u u u'
        ;
        gap: 1.8rem;
    }

    .featurespage__list>li{
        width: 23rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.2rem;
    }
    .featurespage__list>li>h3{
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    .featurespage__list>li>p{
        display: inline-block;
        margin: 0;
        padding: 0; 
    }
    .featurespage__list>li>img{
        margin: 0 0;

    }

    .featurespage__items1{
        grid-area: q;
        place-self: center;
        align-items: center;
    }

    .featurespage__items2{
        grid-area: w;
        align-items: end;
        place-self: center;

    }
    .featurespage__items3{
        grid-area: t;
        align-items: end;
        place-self: center;
        

    }
    .featurespage__items4{
        place-self: center;

        grid-area: e;
        position: relative;
        left: 1.6rem;
    }
    .featurespage__items5{
        grid-area: r ;
        align-items: start;
        place-self: center;

    }
    .featurespage__items6{
        grid-area: l;
        align-items: start;
        place-self: center;
    }
    .featurespage__items7{
        grid-area: u;
        place-self: center;
        align-items: center;
    }
    .featurespage__items5>h3,
    .featurespage__items5>p,
    .featurespage__items6>h3,
    .featurespage__items6>p{
        text-align: left;
    }

    .featurespage__items3>h3,
    .featurespage__items3>p,
    .featurespage__items2>h3,
    .featurespage__items2>p{
        text-align: right;
    }

    .featurespage__heading2{
        padding-top: 12rem;
    }
    

    .statisticpage{
        flex-direction: row;
        min-height: 69.3rem;
    }
    .statisticpage__heading2{
        margin-top: 0;
        font-size: 3.125rem;
        font-weight: 700;
        line-height: 4.725rem;
    }
    .statisticpage__paragraph-main{
        margin-bottom: 4rem;
    }


    .howtousepage{
        background: linear-gradient(to bottom,var(--background1-color) 60%, var(--background2-color) 40%);
        padding-top: 4rem;
        padding-bottom: 15.9rem;
    }

    .howtousepage__heading2{
        font-size: 3.125rem;
        font-weight: 700;
        line-height: 4.725rem;
        width: 35.7rem;
    }

    .howtousepage__img{
        width: 57rem;
        height: 23.1rem;
    }

    .customerspage__heading2{
        font-size: 3.125rem;
        font-weight: 700;
        line-height: 4.725rem;
    }

    .customerspage__container{
        width: 45rem;
        height: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .customerspage__photo{
        margin: 0;
    }
    .customerspage__paragraph-main{
        width: 45rem;
    }

    .blogpage{
        padding-bottom: 19.5rem;
    }

    .blogpage__container{
        width: 21.3rem;
        min-height: 63.3rem;
        border-radius: 1rem;
    }

    .blogpage__img-blog1,
    .blogpage__img-blog2,
    .blogpage__img-blog3{
        width: 21rem;
        height: 22.8rem;
    }
    
    .blogpage__manycontainers{
        flex-direction: row;
        gap: 2.4rem;
    }
    
    .blogpage__contacts{
        width: 68.8rem;
        height: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: -27rem;
    }

    .blogpage__contacts-logoemail{
        margin: 0;
        margin-right: 1.7rem;
    }
    
    .blogpage__contacts-logophone{
        margin: 0;
        margin-right: 1.7rem;
    }
    .blogpage__hr{
        width: 1px;
        height: 106px;
        margin: 0 3rem;
    }

    .contacts__phone{
        margin: 0 ;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-transform: lowercase;
    }

    .contacts__gmail{
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-transform: lowercase;
    }
    .footer-wrapper{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .logo__container{
        grid-column: 1/2;
    }
    .quicklink__container{
        grid-column: 2/3;
    }

    .logo__hr{
        margin: 0 1rem;
    }
    .newsletter__heading3,
    .quicklink__heading3,
    .logo__heading{
        margin-top: 0rem;
    }
    .email{
        width: 16.1rem;
    }
    .quicklink__heading3{
        
    }
}

@media screen and (min-width: 1200px) {
    .header__container{
        width: 117rem;

    }
    
    .header__nav>a,
    .header__nav2>a{
        display: inline;
    }

    .header__buttonburger{
        display: none;
    }

    .header__nav{
        display: flex;
        margin-left: 5.2rem;
        gap: 3.8rem;
    }
    .header__nav-link1{
        color: var(--heading1-color) !important;
        text-decoration: underline !important;
    }

    .header__nav2{
        display: flex;
        gap: 4rem;
        margin-left: 32.9rem;
    }

    .header__contacts{
        width: 117rem;
    }

    .downloadpage{
        padding-top: 30rem;
        padding-bottom: 8.3rem;
    }

    .downloadpage__container{
        width: 57rem;
        height: 43.2rem;
        padding: 4rem 2.3rem 4rem 3rem;
        margin-right: 17.4rem;
    }

    .downloadpage__img-phone{
        max-width: none;
        height: 72.5rem;
        width: 44.37rem
    }

    .downloadpage__heading1{
        line-height: 130%;
        font-size: 4.883rem;
        margin: 0 0;
        margin-bottom: 1.8rem;
        
    }

    .downloadpage__paragraph{
        margin: 0 0;
        margin-bottom: 7.2rem;
    }
    .downloadpage__heading2{
        margin: 0;
        font-size: 2.5rem;
    }
    .downloadpage__img-google{
        margin-left: 0;
    }

    .aboutpage__img-phone{
        width: 38.6rem;
        height: 52.6rem;
    }

    .aboutpage__list{
        gap: 2rem;
    }
    .aboutpage__item{
        width: 57rem;
        height: 16rem;
    }

    .aboutpage__item-paragraph{
        width: auto;
        margin-left: 5.9rem;
        display: none;
    }
    #aboutpage__item-apragraphdekstop{
        display: initial;
        height: auto;
    }
    .featurespage__img-app{
        width: 37.5rem;
        height: 81.2rem;
        position: relative;
        right: 8rem;
    }
    .featurespage__list{
        width: 120rem;
    }

    .featurespage{
        padding-bottom: 12rem;
    }

    .statisticpage__download-container{
        width: 65rem;
        height: 50.6rem ;
    }
    .statisticpage__paragraph-main{
        width: 57rem;
    }
    .statisticpage__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.8rem;
        width: 17rem;
        height: 17rem;
    }
    .statisticpage__container>*{
        margin: 0 !important;
    }
    .statisticpage__img-icons{
        width: 3.5rem;
        height: 3.5rem;
    }
    .statisticpage__paragraph-numbers{
        font-size: 2.5rem;
    }
    .statisticpage__paragraph-text{
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 3rem;
    }
    .statisticpage__img-phone{
        width: 51.6rem;
        height: 48rem;
        margin-top: 0rem;
    }

    .howtousepage__img{
        width: 77rem;
        height: 31.9rem;
    }
    .howtousepage{
        padding-top: 10rem;
    }
    .howtousepage__heading2,
    .howtousepage__paragraph{
        width: 60rem !important;
        margin-bottom: 2.3rem
    }

    .customerspage__paragraph-main{
        width: 60rem;
    }

    .customerspage__container{
        width: 77rem;
        height: 35.7rem;

    }
    .customerspage__photo{
        width: 100px;
        height: 100px;
        padding-top: 0rem;
    }
    .customerspage__name{
        font-size: 3.125rem;
        font-weight: 700;
        line-height: 4.725rem;
    }
    .customerspage__post{
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 0;
    }
    .customerspage{
        padding-bottom: 11.8rem;
    }

    .blogpage__container{
        width: 37rem;
        min-height: 50rem;
    }
    .blogpage__img-blog1,
    .blogpage__img-blog2,
    .blogpage__img-blog3{
        width: 37rem;
        height: 22.8rem;
        margin-top: 1rem;
    }
    .blogpage__paragraph{
        max-width: 33.4rem;
    }
    .blogpage__contacts{
        width: 117rem;
        height: 23rem;
    }
    .blogpage__contacts-logoemail,
    .blogpage__contacts-logophone{
        width: 10rem;
        height: 10rem;
    }
    .contacts__gmail,
    .contacts__phone{
        font-size: 2.5rem;
        font-weight: 600;
    }
    .logo__hr{
        margin: 0 3rem;
    }
    .email{
        width: 28.6rem;
    }
}



a:hover{
    text-decoration: underline;
}

a:focus{
    border: 3px solid black;
    border-radius: 10px;
}